<section class="py-5">
	<div class="container text-center text-md-start mt-5">
		<div class="row mt-3">
			<div
				class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h3 class="text-uppercase fw-bold mb-4">
					A'ROSA-JE
				</h3>

			</div>
			<div class="col-md-9 col-lg-8 col-xl-9 mx-auto mb-md-0 mb-4 text-center">
				<p>
					<a href="{{path('app_tos')}}" class="text-reset">Mentions légales / Politique de confidentialité</a>
				</p>
			</div>
		</div>
	</div>
</section>