{% extends 'base_login_register.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="login">
			<div class="section">
				<div class="container">
					<div class="row full-height justify-content-center">
						<div class="col-12 text-center align-self-center py-5">
							<div class="section pb-5 pt-5 pt-sm-2 text-center">
								<h6 class="mb-0 pb-3"><span>Se connecter</span><span>S'enregistrer</span></h6>
								<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" onclick="window.location='{{ path('app_user_new') }}'"/>
								<label for="reg-log"></label>
								<div class="card-3d-wrap mx-auto">
									<div class="card-3d-wrapper">
										<div class="card-front">
											<form class="center-wrap" action="{{ path('app_user_login') }}" method="post">
                                                <div class="section text-center">
                                                    <h4 class="mb-4 pb-3">Se connecter</h4>
                                                    <div class="form-group">
                                                        <input type="email" class="form-style" placeholder="Email" name="email" required>
                                                        <i class="input-icon uil uil-at"></i>
                                                    </div>  
                                                    <div class="form-group mt-2">
                                                        <input type="password" class="form-style" placeholder="Mot de passe" name="password" required>
                                                        <i class="input-icon uil uil-lock-alt"></i>
                                                    </div>
                                                    <button type="submit" class="btn mt-4">Se connecter</button>
                                                </div>
												<p style="margin-top : 8rem;">
													<a class="gpdr" data-bs-toggle="modal" data-bs-target="#clickforGPDRModal">Mentions légales</a>
												</p>
                                            </form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="clickforGPDRModal" tabindex="-1" aria-labelledby="clickforclickforGPDRModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-body">
				  <!-- Content -->
				  <section class="mentionpage">
						<div style="padding: 4% 8%; padding-bottom: 2%;">
							<h2 style="color: #15803D; text-align: center; padding-bottom: 4%;">Mentions Légales</h2>
							<h3 style="color: #15803D;">Informations générales</h3>
							<p class="mentionfont">Le présent site web est la propriété de A'ROSA-JE, une entreprise enregistrée au 42489733000033 et dont le siège social est situé au 114 rue Lucien Faure, 33300 Bordeaux.</p>
							<br>
							<p class="mentionfont">Directeur de la publication : Mr Sangmin Shim</p>
							<p class="mentionfont">Adresse e-mail : <a href="mailto:sangmin.shim@epsi.fr" style="color: #15803D;">sangmin.shim@epsi.fr</a></p>
							<p class="mentionfont">Numéro de téléphone : <a href="tel:0757905372" style="color: #15803D;">07 57 90 53 72</a></p>
							<h3 style="color: #15803D;">Hébergement du site</h3>
							<p class="mentionfont">Le site web est hébergé par A'rosa-je Inc. , dont le siège social est situé au 6 place de la madeleine, 75008 Paris, France</p>
							<p class="mentionfont">Tous les éléments présents sur le site web, y compris mais sans s'y limiter, les textes, les images, les graphiques, les logos, les icônes, les vidéos, les logiciels et les fichiers audio, sont la propriété exclusive de A'rosa-je ou de ses partenaires et sont protégés par les lois nationales et internationales relatives à la propriété intellectuelle. Toute reproduction, distribution, modification, adaptation, ou utilisation non autorisée de ces éléments est strictement interdite sans l'autorisation préalable écrite de [Nom de l'entreprise de gardiennage de plantes].</p>
							<h3 style="color: #15803D;">Protection des données personnelles</h3>
							<h3 style="color: #15803D;">Liens externes</h3>
							<h3 style="color: #15803D;">Données personnelles</h3>
							<p class="mentionfont"><strong>Collecte et traitement de vos informations personnelles</strong></p>
							<p class="mentionfont">Si vous remplissez le formulaire de contact, il vous sera demandé de transmettre votre nom, prénom, votre fonction, votre adresse électronique ainsi que votre numéro de téléphone. Ces données sont uniquement destinées à A'rosa-je Inc. pour permettre le bon traitement de votre demande et ne seront pas transmises à des tiers.</p>
							<p class="mentionfont"><strong>Droit d’opposition, d’interrogation, d’accès et de rectification</strong></p>
							<p class="mentionfont">Conformément à l’article 34 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous avez un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent, ainsi que vos préférences de confidentialité. Pour ce faire, accédez à vos informations via votre compte ou écrivez à A'rosa-je Inc. :
							<br/>
							<br/>
							A'rosa-je Inc.
							<br/>
							6 place de la madeleine, 75008 Paris, France
							<br/>
							<a href="mailto:sangmin.shim@epsi.fr" style="color: #15803D;"></a>
							<p class="mentionfont"><strong>Réclamation ou plainte à la CNIL</strong></p>
							<p class="mentionfont">En cas de manquement à vos droits, vous pouvez déposer une réclamation ou une plainte à la CNIL via le formulaire présent à cette adresse :  <a href="https://www.cnil.fr/fr/plaintes" style="color: #15803D;">https://www.cnil.fr/fr/plaintes</a> ou en leur adressant un courrier postal à cette adresse : CNIL – 3 Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07.</p>
							<h3 style="color: #15803D;">Responsabilité</h3>
							<p class="mentionfont">A'rosa-je Inc. s'efforce de fournir des informations précises et à jour sur son site web, mais ne peut garantir leur exhaustivité, leur exactitude ou leur adéquation à un usage particulier. En conséquence, A'rosa-je décline toute responsabilité en cas d'erreur, d'omission, ou de dommage résultant de l'utilisation de ces informations.</p>
							<h3 style="color: #15803D;">Droit applicable et juridiction compétente</h3>
							<p class="mentionfont">Les présentes mentions légales sont régies par le droit applicable dans le pays où est situé le siège social de A'rosa-je. Tout litige relatif à l'utilisation du site web sera soumis à la compétence exclusive des tribunaux de cette juridiction.</p>
							<br/>
							<br/>
							<div>
								<h2 style="color: #15803D; text-align: center; padding-bottom: 4%;">Politique de cookies</h2>
								<p class="cookiefont">Cette politique de cookies a été mise à jour pour la dernière fois le 2 juin 2023 et s’applique aux citoyens et aux résidents permanents légaux de l’Espace Économique Européen et de la Suisse.</p>
								<h3 style="color: #15803D;">1. Introduction</h3>
								<p class="cookiefont">La présente politique de cookies explique comment A'rosa-je Inc. utilise les cookies et les technologies similaires sur son site web. En utilisant notre site, vous consentez à l'utilisation de cookies conformément à cette politique.</p>
								<h3 style="color: #15803D;">2. Que sont les cookies ?</h3>
								<p class="cookiefont">Un cookie est un petit fichier texte stocké sur votre ordinateur ou votre appareil mobile lorsque vous visitez un site web. Les cookies sont largement utilisés pour permettre aux sites web de fonctionner de manière efficace, d'améliorer l'expérience de l'utilisateur, de collecter des informations sur les préférences des visiteurs et de fournir des informations anonymes aux propriétaires du site.</p>
								<h3 style="color: #15803D;">3. Types de cookies utilisés</h3>
								<p class="cookiefont"><strong>3.1 Cookies essentiels</strong></p>
								<p class="cookiefont">Ces cookies sont nécessaires au bon fonctionnement du site web. Ils vous permettent de naviguer sur le site et d'utiliser ses fonctionnalités de base. Sans ces cookies, certaines parties du site ne peuvent pas fonctionner correctement.</p>
								<p class="cookiefont"><strong>3.2 Cookies de performance</strong></p>
								<p class="cookiefont">Ces cookies collectent des informations sur la manière dont les visiteurs utilisent notre site web, par exemple les pages qu'ils consultent le plus souvent et les messages d'erreur éventuels. Ces cookies ne collectent pas d'informations permettant d'identifier les visiteurs. Toutes les informations collectées par ces cookies sont agrégées et anonymes. Ils sont utilisés uniquement pour améliorer le fonctionnement du site web.</p>
								<p class="cookiefont"><strong>3.3 Cookies de fonctionnalité</strong></p>
								<p class="cookiefont">Ces cookies permettent au site web de se souvenir des choix que vous faites (par exemple, votre nom d'utilisateur, votre langue préférée ou la région dans laquelle vous vous trouvez) et de fournir des fonctionnalités améliorées et personnalisées. Les informations collectées par ces cookies peuvent être rendues anonymes et ne peuvent pas suivre votre activité de navigation sur d'autres sites web.</p>
								<p class="cookiefont"><strong>3.4 Cookies de ciblage et de publicité</strong></p>
								<p class="cookiefont">Ces cookies sont utilisés pour diffuser des publicités plus pertinentes pour vous et vos intérêts. Ils sont également utilisés pour limiter le nombre de fois où vous voyez une publicité et pour mesurer l'efficacité d'une campagne publicitaire. Ces cookies se souviennent que vous avez visité un site web et partagent ces informations avec des tiers, tels que des annonceurs.</p>
								<h3 style="color: #15803D;">Gestion des cookies</h3>
								<p class="cookiefont">Vous pouvez gérer vos préférences en matière de cookies en modifiant les paramètres de votre navigateur pour accepter ou refuser certains cookies. Veuillez noter que le fait de bloquer certains types de cookies peut avoir une incidence sur votre expérience de navigation sur notre site.</p>
								<h3 style="color: #15803D;">Consentement</h3>
								<p class="cookiefont">En utilisant notre site web, vous consentez à l'utilisation de cookies conformément à la présente politique de cookies. Si vous ne consentez pas à l'utilisation de cookies, veuillez ajuster vos paramètres de cookies ou cesser d'utiliser notre site web.</p>
								<h3 style="color: #15803D;">Modification de la politique de cookies</h3>
								<p class="cookiefont">Nous nous réservons le droit de modifier ou de mettre à jour la présente politique de cookies à tout moment. Toute modification substantielle sera clairement indiquée sur notre site web. Nous vous encourageons à consulter régulièrement cette politique pour vous tenir informé des pratiques relatives aux cookies.</p>
							</div>

							<a class="text-decoration-none" href="{{asset('documents/Inventaire_des_donnees_arosaje.pdf')}}">
								<div style="text-align: center;display:flex;color:black;">
									<i class="fa-solid fa-download fa-3x"></i> 
									<i class="fa-solid fa-file-pdf fa-3x" style="padding-left:1rem;"></i> 
									<span style="padding-left:1rem; font-size:2rem;">Inventaire des données</span>
								</div>
							</a>
							<br/>
							<a class="text-decoration-none pt-2" href="{{asset('documents/Registre_de_traitements_arosaje.pdf')}}">
								<div style="text-align: center;display:flex;color:black;">
									<i class="fa-solid fa-download fa-3x"></i> 
									<i class="fa-solid fa-file-pdf fa-3x" style="padding-left:1rem;"></i> 
									<span style="padding-left:1rem; font-size:2rem;">Registre de traitements</span>
								</div>
							</a>
						</div>
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-gdpr" data-bs-dismiss="modal">Accepter</button>
				</div>
				</div>
			</div>
		</div>
{% endblock %}
